In [ ]:
# importing libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# using pandas to read the csv file
data_set = pd.read_csv("C:\\Users\\Leritmwa Danladi\\Downloads\\Abuja Hotels.csv")

In [ ]:
data_set

In [ ]:
# getting an overview of the columns of the dataset
data_set.info()

In [ ]:
# changing the string entries for the 'Price' column to numeric values
data_set['Price'] = pd.to_numeric(data_set.Price.str.replace('[^\d.]', ''), errors='coerce')

In [ ]:
# making the same changes to the 'Rating' column
data_set['Rating'] = pd.to_numeric(data_set.Rating.str.replace('[^\d.]', ''), errors='coerce')

In [ ]:
data_set

In [ ]:
# getting the mean of the 'Rating' column and rounding it off to one decimal point
mean_price = round(data_set['Rating'].mean(),1)

In [ ]:
mean_price

In [ ]:
# filling the NaNs of the 'Rating' column with its mean
data_set['Rating'] = data_set['Rating'].fillna(mean_price)

In [ ]:
# dropping the NaN entries in any row
data_set.dropna(how ='any', axis = 0, inplace = True)

In [ ]:
# renaming the 'Title' column as 'Hotel_Title'
dataset = data_set.rename(columns = {'Title':'Hotel_Title','Review':'Review_Text'}, inplace = False)

In [ ]:
# dataset = data_set.rename(columns = {}, inplace = True)

In [ ]:
dataset

In [ ]:
# saving the cleaned dataset as a csv file
dataset.to_csv('Abuja Hotels Cleaned.csv')

In [ ]:
dataset

In [ ]:
# in_cities = dataset.groupby(['Hotel_Title', 'City'])
dataset['City'].value_counts().plot.bar()

In [ ]:
hotels_in_cities = dataset.groupby(['City' ,'Hotel_Title'])

In [ ]:
hotels_in_cities.first()

In [ ]:
price_per_city = dataset.groupby(['Price','Hotel_Title'])

In [ ]:
dataset['Cleaned'] = dataset["Review_Text"].apply(lambda x: x.lower())

In [ ]:
import string
import re

In [ ]:
# removing punctuations
dataset['Cleaned'] = dataset['Cleaned'].apply(lambda x: re.sub('[%s]' % re.escape(string.punctuation), '', x))

In [ ]:
# removing the spaces caused bby the removal of punctations
dataset['Cleaned']=dataset['Cleaned'].apply(lambda x: re.sub(' +',' ',x))

In [ ]:
for index,text in enumerate(dataset['Cleaned'][35:40]):
    print('Review %d:\n'%(index+1),text)

In [ ]:
# !pip install wordcloud

In [ ]:
from wordcloud import WordCloud, STOPWORDS

In [ ]:
# !pip install spacy
# !python -m spacy download en_core_web_sm

In [ ]:
import spacy

In [ ]:
nlp = spacy.load("en_core_web_sm", disable=['parser', 'ner'])

In [ ]:
dataset['lemmatized']=dataset['Cleaned'].apply(lambda x: ' '.join([token.lemma_ for token in list(nlp(x)) if (token.is_stop==False)]))

In [ ]:
dataset_grouped=dataset[['Hotel_Title','lemmatized']].groupby(by='Hotel_Title').agg(lambda x:' '.join(x))
dataset_grouped.head()

In [ ]:
wordcloud = WordCloud(width = 800, height = 800, 
                colormap="Dark2",  
                min_font_size = 10).generate(' '.join(dataset['lemmatized'])) 
  
# plot the WordCloud image                        
plt.figure(figsize = (8, 8), facecolor = None) 
plt.imshow(wordcloud) 
plt.axis("off") 
plt.tight_layout(pad = 0) 
  
plt.show()

In [ ]:
correl = dataset[['Price','Rating']]
correl.corr()
sns.heatmap(correl.corr(), annot = True)

In [ ]:
dataset.describe()